#v-pills-tab {
    margin-top: 0px;
    align-items: center;
}

.col-1 {
    padding: 1px;
}

i {
    color: rgb(131, 131, 131);
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 25px;
    margin-top: 25px;

}

i:hover {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(201, 147, 147);
    font-size: 20px;
}

i.active {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(129, 11, 11);
    font-size: 25px;
    border: 0px;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 45px;
    color: rgb(129, 11, 11);
    text-align: center;
    width: auto;
}

#v-pills-tabContent {
    margin-top: 17px;
}